{% extends '::base.html.twig' %}
{%  block body %}
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Les évenements -
                <small>Incom e-Sport</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path ('event_event_homepage') }}">Acceuil</a>
                </li>
                <li class="active">Les évenements<li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
                {% for event in listEvent  %}
                {% if event.Etat == 'parisFerme' %}
            <h2>
                Live
            </h2>
            <hr>
            <h3>
                    {{ event.titre }}
            </h3>
            <p><i class="fa fa-clock-o"></i> {{ event.datefinpari|date('Y-m-d H:i:s') }}</p>

            <a href="{{ path ('event_event_blogpost') }}"> <!-- 900x300 -->
                <img class="img-responsive img-hover" src="{{ asset ('img/img-blog.jpg') }}" alt="">
            </a>
            <hr>
            <p>{{ event.description }}</p>
            <a class="btn btn-primary" href="{{ path ('event_event_event', {'id': event.id}) }}">Venez parier <i class="fa fa-angle-right"></i></a>

            <hr>
                {% elseif event.Etat == 'parisOuvert' %}



            <h2>
                Prochainement
            </h2>
            <h3>
                {{ event.titre }}
            </h3>
            <p><i class="fa fa-clock-o"></i> {{ event.datefinpari|date('Y-m-d H:i:s') }}</p>

            <a href="{{ path ('event_event_blogpost') }}"> <!-- 900x300 -->
                <img class="img-responsive img-hover" src="{{ asset ('img/img-blog.jpg') }}" alt="">
            </a>
            <hr>
            <p>{{ event.description }}</p>
            <a class="btn btn-primary" href="{{ path ('event_event_event', {'id': event.id}) }}">Venez parier  <i class="fa fa-angle-right"></i></a>

            <hr>
                {% elseif event.Etat == 'termine' %}


            <h2>

                Terminé
            </h2>
            <hr>
            <h3>
                {{ event.titre }}
            </h3>
            <p><i class="fa fa-clock-o"></i>{{ event.datefinpari|date('Y-m-d H:i:s') }}</p>

            <a href="{{ path ('event_event_blogpost') }}"> <!-- 900x300 -->
                <img class="img-responsive img-hover" src="{{ asset ('img/img-blog.jpg') }}" alt="">
            </a>
            <hr>
            <p>{{ event.description }}.</p>
                    {% endif %}
                    {% endfor %}

            <!-- Pager -->

        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Incom e-Sport 2015</p>
            </div>
        </div>
    </footer>

</div>

</body>

</html>


{%  endblock %}