{% extends '::base.html.twig' %}
{%  block body %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Les évenements -
                <small>Incom e-Sport</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path ('event_event_homepage') }}">Acceuil</a>
                </li>
                <li class="active">Les évenements<li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>En cours</h2>
            <hr>
            {% for event in listEvent if event.Etat == 'parisFerme' %}
                <h3>{{ event.titre }}</h3>
                <p><i class="fa fa-clock-o"></i> {{ event.datefinpari|date('Y-m-d H:i:s') }}</p>

                <a href="#">
                    <img class="img-responsive img-hover" src="{{ asset ('img/img-blog.jpg') }}" alt="">
                </a>
                <hr>
                <p>{{ event.description }}</p>
                <a class="btn btn-primary" href="{{ path ('event_event_event', {'id': event.id}) }}">Venez parier <i class="fa fa-angle-right"></i></a>
                <hr>
            {% else %}
                Aucun match en cours pour le moment.
            {% endfor %}
            <h2>Prochainement</h2>
            <hr>
            {% for event in listEvent if event.Etat == 'parisOuvert' %}
                <h3>{{ event.titre }}</h3>
                <p><i class="fa fa-clock-o"></i> {{ event.datefinpari|date('Y-m-d H:i:s') }}</p>

                <a href="#">
                    <img class="img-responsive img-hover" src="{{ asset ('img/img-blog.jpg') }}" alt="">
                </a>
                <hr>
                <p>{{ event.description }}</p>
                <a class="btn btn-primary" href="{{ path ('event_event_event', {'id': event.id}) }}">Venez parier <i class="fa fa-angle-right"></i></a>
                <hr>
            {% endfor %}
            <h2>Terminé</h2>
            <hr>
            {% for event in listEvent if event.Etat == 'termine' %}
                <h3>{{ event.titre }}</h3>
                <p><i class="fa fa-clock-o"></i> {{ event.datefinpari|date('Y-m-d H:i:s') }}</p>

                <a href="#">
                    <img class="img-responsive img-hover" src="{{ asset ('img/img-blog.jpg') }}" alt="">
                </a>
                <hr>
                <p>{{ event.description }}</p>
                <a class="btn btn-primary" href="{{ path ('event_event_event', {'id': event.id}) }}">Venez parier <i class="fa fa-angle-right"></i></a>
                <hr>
            {% endfor %}
        </div>
    </div>
    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Incom e-Sport 2015</p>
            </div>
        </div>
    </footer>

</div>
</body>

</html>


{%  endblock %}